@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #DDF2FD;
  --navbar-color: #164863;
  --text-color1: gray;
  --text-color2: #164863;
  --btn-color: #164863;
  --nav-btn-color: #fff083;
  --cardbg-color: #9BBEC8;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--background-color) !important;
}

.code {
  font-size: 1.5em;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color1);
}

.nav-link.active {
  color: #fff083;
}